<html>

{% include head.html %}

<body>

    {% include header.html %}


<!-- Main -->
<div id="main" class="alt">

<!-- One -->
<section id="one">
	<div class="inner">
		<header class="major">
			<h1>{{ page.title }}</h1>
		</header>
		{% if page.image %}<span class="image main"><img src="{{ site.baseurl }}/{{ page.image }}" alt="" /></span>{% endif %}
		<p>{{ content }}</p>
	</div>
</section>

</div>
<div class="galleryWrap">
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto18.jpg"> <img src="uploads/galeria/foto18.jpg"></a>
            </div>
        </div>
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto19.jpg"> <img src="uploads/galeria/foto19.jpg"></a>
            </div>
        </div>
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto20.jpg"> <img src="uploads/galeria/foto20.jpg"></a>
        </div>
    </div>
</div>

<div class="galleryWrap">
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto21.jpg"> <img src="uploads/galeria/foto21.jpg"></a>
            </div>
        </div>
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto22.jpg"> <img src="uploads/galeria/foto22.jpg"></a>
            </div>
        </div>
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto23.jpg"> <img src="uploads/galeria/foto23.jpg"></a>

        </div>
    </div>

</div>
<div class="galleryWrap">
        <div class="pictureBox">
            <div class="innerBox">
                <a href="uploads/galeria/foto24.jpg"> <img src="uploads/galeria/foto24.jpg"></a>
            </div>
        </div>
        <div class="pictureBox">
            <div class="innerBox">
               <a href="uploads/galeria/foto25.jpg"> <img src="uploads/galeria/foto25.jpg"></a>
            </div>
        </div>

        <div class="pictureBox">
            <div class="innerBox">
               <a href="uploads/galeria/foto26.jpg"> <img src="uploads/galeria/foto26.jpg"></a>
            </div>
        </div>
</div>
    {% include footer.html %}

</body>

</html>
